<div class="w-25">
    <div class="page-title">
        <%= typeof pageTitle !="undefined" ? pageTitle : websiteName %>
    </div>
</div>
<div class="w-75 d-flex flex-row justify-content-end">
    <nav class="accounts__nav">
        <ul class="nav-items">
            <li class="accounts__nav-single-container accounts__selected-item">
                <a class="accounts__nav-single-item" href="#">Overview</a>
            </li>
            <li class="accounts__nav-single-container">
                <a class="accounts__nav-single-item" href="#">Reports</a>
            </li>
        </ul>
    </nav>
    <div class="accounts__option-menu-corner">
        <i class="fa-solid fa-ellipsis accounts__ellipsis-menu"></i>
    </div>
</div>